.First{
    background: linear-gradient(to right, rgb(252, 203, 114), rgb(246, 134, 134), rgb(30, 226, 226));
    height: 41.4em;
    position: relative;
    right: 8em;
    display: fixed;
}
.navbar{
    background: linear-gradient(to right, rgb(247, 192, 90), rgb(245, 128, 128), rgb(30, 226, 226))
}
.d-flex{
    height: 2em;
    width: 27em;
}
a:link{
    color: white;
    text-decoration: none;
}
.me-2{
    width: 20px;
    position: relative;
    right: 25em;
}
.main{
    width: 84.3em;
    position: relative;
    right: 8em;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
}
.C{
    width: 200%;
   
}
.V{
    width: 100%;
    object-fit: cover;
    height: 42em;
    opacity: 0.9;
}
.K{
    position: relative;
    top: 9em;
    font-size: 3em;
}
.btn{
    width: 7em;
}
.R{
    position: relative;
    right: 3em;
}
.container{
    display: grid;
    grid-template-columns: 15% 85%;
    margin-left:0 ;
}
.setting{
    position: relative;
    top: 11em;
}
.home{
    font-size: 1.9em;
    position: relative;
    top: 1em;
    height: 2em;
}